.BSCM_contextmenu,
.BSCM_item .BSCM_nested {
    position: fixed;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.BSCM_item {
    padding: 6px 14px;
    cursor: pointer;
    margin:0px;
    font-family: "San Fransisco", 'SF Pro', 'Helvetica Neue', 'Inter', sans-serif;
    color: white;
}

.BSCM_item:hover {
    border-radius: 7px;
    background: rgb(0, 119, 255)
}

.BSCM_item .BSCM_nested {
    opacity: 0;
    left: calc(100% + 0px);
    top: -10%;
    position: absolute;
    pointer-events: none;
}

.BSCM_item.BSCM_nestedContainer {
    position: relative
}

.BSCM_item.BSCM_nestedContainer:hover > .BSCM_nested,.BSCM_nested:hover {
    opacity: 1;
    pointer-events: all;
}