.BSCM_contextmenu {
    --BSCM_separator: rgba(0, 0, 0, 0.2);
    --BSCM_bg: rgba(222, 222, 222, 0.7);
    --BSCM_border: 1px solid rgb(192, 192, 192);
    --BSCM_color: black;
    --BSCM_shadow: 0 4px 18px -3px rgb(0 0 0 / 25%);
}

.BSCM_contextmenu.BSCM_dark {
    --BSCM_separator: rgba(255, 255, 255, 0.2);
    --BSCM_bg: rgba(50, 50, 50, 0.8);
    --BSCM_border: 1px solid rgba(7, 7, 7);
    --BSCM_color: white;
    --BSCM_shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.212),
        0 4px 18px -3px rgba(0, 0, 0, 0.45) !important;
}

.BSCM_contextmenu,
.BSCM_item .BSCM_nested {
    position: fixed;
    border-radius: 6px;
    padding: 4px 0;
    width: max-content;
    background: var(--BSCM_bg);
    border: var(--BSCM_border);
    box-shadow: var(--BSCM_shadow);
    opacity: 1;
    z-index: 9;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    color: var(--BSCM_color);
}

@media (prefers-color-scheme: dark) {
    .BSCM_contextmenu.BSCM_deviceTheme,
    .BSCM_contextmenu.BSCM_deviceTheme .BSCM_item .BSCM_nested {
        --BSCM_separator: rgba(255, 255, 255, 0.2) !important;
        --BSCM_bg: rgba(50, 50, 50, 0.8);
        --BSCM_border: 1px solid rgba(7, 7, 7);
        --BSCM_color: white;
        --BSCM_shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.212),
            0 4px 18px -3px rgba(0, 0, 0, 0.45) !important;
    }
}

.BSCM_item {
    padding: 4px 12px;
    min-width: 5rem;
    font-size: 13px;
    cursor: default;
    margin: 0px 4px;
    user-select: none;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    animation-duration: 0.15s;
    position: relative;
    color: var(--BSCM_color);
    font-family: -apple-system, BlinkMacSystemFont, "San Fransisco",
        "SF UI Text", "SF Pro", "Helvetica Neue", "Helvetica", "Arial",
        sans-serif;
    display: flex;
    align-items: center;
}

.BSCM_separator {
    height: 1px;
    background: var(--BSCM_separator);
    margin: 3px 13px;
}

.BSCM_item.BSCM_itemDisabled {
    color: rgb(167, 167, 167);
    pointer-events: none;
}

BSCM.contextmenu.BSCM_dark BSCM_itemDisabled {
    color: rgba(255, 255, 255, 0.2) !important;
}

.BSCM_item::after {
    top: 0px;
    left: 0;
    right: 0;
    height: 100%;
    width: calc(100% + 5px);
    position: absolute;
    content: "";
}

.BSCM_item:hover {
    color: white;
    background: rgb(46, 137, 255);
}

.BSCM_item:has(.BSCM_nested)::before {
    content: "";
    height: 0.75rem;
    color: var(--BSCM_color);
    width: 0.75rem;
    position: absolute;
    right: 0.25rem;
    stroke: var(--BSCM_color);
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3.5" stroke="currentColor"> <path stroke-linecap="round" stroke="currentColor" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" /> </svg>');
}
.BSCM_contextmenu.BSCM_dark .BSCM_item:has(.BSCM_nested)::before,
.BSCM_item:hover:has(.BSCM_nested)::before {
    filter: invert(2);
}

.BSCM_item .BSCM_nested {
    opacity: 0;
    left: calc(100% + 3px);
    top: -10%;
    color: var(--BSCM_color);
    position: absolute;
    pointer-events: none;
}

.BSCM_item.BSCM_nestedContainer {
    position: relative;
}

.BSCM_item.BSCM_nestedContainer:hover > .BSCM_nested,
.BSCM_nested:hover {
    opacity: 1;
    pointer-events: all;
}

@keyframes BSCM_flash {
    0% {
        background: 0;
    }

    49.99% {
        background: 0;
    }

    50% {
        background: rgb(46, 137, 255);
        color: white;
    }

    100% {
        background: rgb(46, 137, 255);
    }
}
